body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#text_search_input {
    border: none;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#search_box {
    border: solid 1px #ccc;
    border-radius: 20px;
    width: 30%;
    height: 2rem;
    margin: 2rem 0rem 2rem 0rem;
}

#search_box:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#inside_search {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

#search_form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.buttons {
    border: none;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    color: #333;
    font-size: 0.8rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixe;
    top: 0;
}

#menu_icon {
    margin: 0.5rem;
}

#login_button {
    margin-left: 0.5rem;
    border: none;
    color: white;
    background-color: #4285f4;
    font-weight: 500;
    padding: 0.5rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

#main {
    position: fixed;
    bottom: 50%;
    width: 100%;
}